{% extends 'layout.html' %} {% block content %}
<div class="container">
  <h1 class="other-h1">About {{name}}</h1>
  <p>
  This full-stack web application features a Text Analyzer tool and a live feedback system powered by a cloud-hosted MongoDB database. Developed using Flask and JavaScript, this project marks a key milestone in the <a href="https://github.com/Asabeneh/30-Days-Of-Python" target="_blank">30 days of python programming challenge</a>. If you have been coding this far, you are awesome. Congratulations for the job well done!
  </p>
</div>
{% endblock %}