{% extends 'layout.html' %} {% block content %}
<div class="Head-container">
  <h1 class="analyzer-h1">Text Analyzer</h1>
  <div class="text-container">
    <form action="{{url_for('result')}}" method="POST">
      <div>
        <textarea class="text-analyzer" rows="25" name="content" autofocus placeholder="Write text or copy and paste text to analyse" required></textarea>
      </div>
      <div>
        <input type="submit" class="btn" value="PROCESS TEXT"/>
      </div>
    </form>
  </div>
</div>>
{% endblock %}